@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
	margin: 0;
	height: 100%;
}

body{
	background-image: url('../images/matrix3.gif');
	background-size: cover;
	background-color: black;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#topLabel{
	margin-top: -12%;
}

.textLabel{
	color: #fff;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font: 24px "Open Sans", sans-serif;
	align-self: center;
}

#message{
	font: 15px monospace;
	resize: none;
	border-radius: 5px;
}

#username{
	font: 15px monospace;
	border-radius: 5px;
	margin-bottom: 7%;
}

#inputFields{	
	background-color: rgba(0,255,0, 0.618);
	padding: 3rem;
	border-radius: 3%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	margin-top: 5%;
	margin-bottom: 0%;
	margin-left: auto;
	margin-right: auto;
}

#theButton{	
	align-self: center;
}

#feesFeelsAmazingMan{
	margin-top: -3%;
	align-self: center;
}
